<footer>
  <div class="footer-content">
    <p>&copy; 2026 CSE Motors. All rights reserved.</p>
  <p><a href="/inv/broken" style="color: red;" title="Test 500 Error">Test 500 Error</a></p>
  </div>
</footer>
