<footer>
  <div class="footer-content">
    <p>&copy; 2026 CSE Motors. All rights reserved.</p>
   <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
  </div>
</footer>
