<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="CSE Motors - Your trusted vehicle partner">
<title>CSE Motors</title>
<link rel="stylesheet" href="/css/styles.css">
<script defer src="/js/script.js"></script>
