<nav class="main-nav">
  <ul>
    <li><a href="/" class="nav-link active">Home</a></li>
    <li><a href="#" class="nav-link">Vehicles</a></li>
    <li><a href="#" class="nav-link">Services</a></li>
    <li><a href="#" class="nav-link">Contact</a></li>
  </ul>
</nav>
