<nav id="main-navigation" class="main-nav" role="navigation">
  <ul>
    <li><a href="/" class="nav-link active">Home</a></li>
    <li><a href="/inv" class="nav-link">Inventory</a></li>
  </ul>
</nav>
