<nav id="main-navigation" class="main-nav" role="navigation">
  <ul>
    <li><a href="/" class="nav-link active">Home</a></li>
    <li><a href="/inventory" class="nav-link">Inventory</a></li>
    <li><a href="/about" class="nav-link">About</a></li>
    <li><a href="/contact" class="nav-link">Contact</a></li>
  </ul>
</nav>
