<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>About | CSE Motors</title>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/nav') %>
  <main>
    <section>
      <h1>About CSE Motors</h1>
      <p>We are dedicated to helping you find the perfect vehicle. Our team is passionate about cars and customer service.</p>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
